@font-face {
  font-family: "blody";
  src: url(../fonts/Spooky\ Halloween\ -\ TTF.ttf);
}
:root {
  view-transition-name: none;

  --font-size-0: 0.875rem;
  --radius-3: 8px;

  --bg-col: #1f1f1f;
  --surface-2: oklch(0.19 0 0);
  --surface-3: oklch(0.24 0 0 / 0.1);
  --surface-4: oklch(0.45 0 0);
  --text-1: oklch(1 0 0);
  --text-2: oklch(0.51 0 0);
  --brand-1: oklch(0.65 0.24 18.89);
  --brand-2: oklch(0.78 0.11 84.63);

  --container: 1600px;
  --nav-block-size: 6.2rem;

  --gap: var(--size-8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: arial, sans-serif, unset;
  background-color: #201f1ff3;
  color: #ffffff;
  text-transform: capitalize;
}
/* start nav style  */

.navvigation {
  /* border: 1px solid #fff; */
  width: 97%;
  min-height: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
nav .center a,
.right a {
  padding: 10px;
  text-decoration: none;
  color: white;
  border-radius: 80px;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.5s;
  &:hover {
    background-color: white;
    color: #1f1f1f;
  }
}
nav .left img {
  width: 100px;
}
/* end nnav style */

/* foter style start */
.about {
  /* border: 1px solid white; */
  height: 500px;
  padding-inline: var(--size-3);

  display: grid;
  grid-template-rows: 1fr auto;
  justify-content: center;

  padding-block-end: var(--size-8);
  place-content: center;
  text-align: center;

  #target-word {
    font-size: var(--font-size-8);
    align-self: center;
  }

  & footer {
    & p {
      color: var(--text-2);
      text-wrap: balance;
    }
  }
}

@keyframes to-black {
  to {
    background-color: #1f1f1f;
  }
}
/* foter style end */
